<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Ecommerce</title>
    <script src="..\user.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
        }

        /* Estilos barra de navegación */
        header nav {
            background-color: #232f3e; 
            padding: 10px 0;
            border-bottom: 1px solid #c7c7c7; 
        }
        header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header nav ul li {
            display: inline-block;
            margin-right: 100px;
        }
        header nav ul li:last-child {
            margin-right: 0;
        }
        header nav ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            transition: color 0.3s; /* Transición suave de color */
        }
        header nav ul li a:hover {
            color: #ffd700; /* Cambia el color al pasar el ratón por encima */
        }
        header nav .search-box {
            border: 1px solid #c7c7c7;
            padding: 5px 10px;
            border-radius: 20px;
            margin-right: 20px;
            background-color: #fff; 
            font-size: 14px;
            width: 200px;
        }
        header nav .search-box::placeholder {
            color: #999;
        }

        /* Estilos para el contenido */
        article {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7; 
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            padding: 20px;
            max-width: 600px; 
        }

        h1 {
            margin-top: 0; 
            color: #333; 
            font-size: 24px;
            margin-bottom: 10px;
        }

        .cart-item {
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd; /* Línea divisoria entre elementos */
            padding-bottom: 20px;
        }

        .cart-item img {
            max-width: 400px;
            height: auto;
            margin-bottom: 10px;
        }

        .cart-item h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .cart-item p {
            margin: 5px 0;
            font-size: 14px;
        }

        .cart-item button {
            background-color: #f0c14b; /* Color de fondo del botón */
            border: none;
            color: #111; 
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s; 
        }

        .cart-item button:hover {
            background-color: #ddb347; /* Cambia el color de fondo al pasar el ratón por encima */
        }

        .total {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        button {
            background-color: #f0c14b;
            border: none;
            color: #111;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #d2ac4b;
        }

/* Responsive */
        @media only screen and (max-width: 600px) {
            header nav ul li {
                margin-right: 10px;
            }
            header nav .search-box {
                width: 150px;
            }
            .product {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home" id="inicio">Inicio</a></li>
                <li>
                    <form id="searchForm" method="post">
                        <input id="searchInput" type="text" class="search-box" placeholder="Buscar" list="productos">
                        <datalist id="productos">
                            <option value="Laptop HP Gaming" data-number="1">
                            <option value="Auto" data-number="2">
                            <option value="Tablet Apple" data-number="3">
                            <option value="Camara Canon" data-number="4">
                            <option value="Consola de videojuegos" data-number="5">
                            <option value="Ropa" data-number="6">
                            <option value="Funda laptop" data-number="7">
                            <option value="Cartera" data-number="8">
                            <option value="Cuadernos" data-number="9">
                            <option value="Toma todo" data-number="10">
                            <option value="Celular" data-number="11">
                            <option value="Tenis" data-number="12">
                            <option value="Televisor" data-number="13">
                            <option value="Audiculares" data-number="14">
                            <option value="Labiales" data-number="15">
                            <option value="Videojuego" data-number="16">
                            <option value="Sofa" data-number="17">
                        </datalist>
                        <button id="searchButton" type="submit">Buscar</button>
                    </form>
                </li>
                <li><a href="/home/perfil" id="perfil">Perfil</a></li>
                <li><a href="" id="carrito">Carrito</a></li>
            </ul>
        </nav>
    </header>
<article>
    <div class="container">
        <h1>Tu Carrito </h1>
        <div class="cart-item">
            <h3><%= carritoVacio || '' %></h3>
            <% for (let i = 0; i < productosSelected.length; i++) {  %>
                <h3><%= productosSelected[i].producto_nombre %></h3>
                <img src=<%= productosSelected[i].imagen_ruta %> alt="Producto 1">
                <p><%= productosSelected[i].descripcion %></p>
                <p>$<%= productosSelected[i].precio %></p>
                <form action="/home/carrito" method="post" >
                    <input type="hidden" name="id_producto" value=<%= productosSelected[i].id_producto %>>
                    <input type="hidden" name="action" value="quitarCarrito">
                    <button type="submit">Eliminar</button>
                </form>
            <% } %>
        </div>
        <div class="total">Total: $<%= precioTotal %></div>
        <form action="/pago" method="get">
            <button type="submit">Proceder al Pago</button>
        </form>
    </div>
</article>
</body>
</html>

